Library import

In [2]:
import pandas as pd
import numpy as np

Reading csv file

In [4]:
data = pd.read_csv('country_vaccination_stats.csv')

Missing data check

In [7]:
data.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

Replace missing values with 0 and smallest value as per situation

In [6]:
for i in range(0,int(len(data))):
    if pd.isna(data.iloc[i,2]) == True:
        t = data[data['country'] == data.iloc[i,0]]
        
        if len(data[data['country']==data.iloc[i,0]]) != 1:
            t = t.dropna()
            t.reset_index(drop=True)
            data.iloc[i,2] = min(t.daily_vaccinations)
        else:
            data.iloc[i,2] = 0

Looking again at the dataset can be seen that the values have changed successfully

In [8]:
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [10]:
data.to_csv(r'impute_country_vaccination_stats.csv.csv', index = False)