Library import

In [5]:
import pandas as pd
import numpy as np
from numpy import median

Reading csv file

In [3]:
data = pd.read_csv('impute_country_vaccination_stats.csv')

Medians are found for each country and added to the countries and medians lists. Then, a DataFrame is created from these two lists (with the median at the top) and the first 3 rows are returned with the head() method. The USA, China and India came out as the countries with the highest daily vaccination amount.

In [7]:
country = data['country'].unique()
countries = []
medians = []

for i in country:
    a = pd.DataFrame(data[data['country'] == i])
    #b = median(a['daily_vaccinations'])
    countries.append(i)
    medians.append(median(a['daily_vaccinations']))
    #print(i,"Ã¼lksinin medyani:",b,"\n")

In [8]:
mediantable = pd.DataFrame(list(zip(ulkeler, medyanlar)),columns =['ulke', 'medyan']).sort_values(by=['medyan'],ascending=False).reset_index(drop=True)

In [11]:
mediantable.head(3)

            ulke    medyan
0  United States  378253.0
1          China  276786.0
2          India  173922.0